# Environment Variables for Neon PostgreSQL and Next Auth JWT
DATABASE_URL="postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="zenvia_super_secret_jwt_key_2026_production"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
